* {margin:0;padding: 0}

#dota{
    background-image: url("12345.png");
    display: flex;
    flex-direction: row;
}

.dota2{
    font-size: 140px;
    color:darkgray;
    font-family:inherit;
    padding-top:60px;
     
}

.logo1{
     width: 340px;
    padding-left: 20px;
    
}
#grey{
    background-color: black;
    display: flex;
    flex: 1 1 auto;
    
}
.main {
    display: inline-block;
    color: white;
    font-size: 40px;
    flex: 1 1 auto;
    
    
}
.main a{
    text-decoration: none;
    color: whitesmoke;
    
    
}
.main a:hover{
    color: red;
}
.tide{
    background-image: url("123456.jpg");
    height: 960px;
}
.zad{
    font-size: 30px;
    text-align: center;
}


.form{
  
    text-align: center;
    height: 100%;
    background-image: url("4.jpg");
    width: 100%;
    color: aliceblue;

}
.table{
    border: 1px solid grey;
}
 #footer { 
    left: 0; bottom: 0; 
    background:black; 
    color: whitesmoke; 
    width: 100%; 
   }
@media screen and (max-device-width:480px){
    
    #grey{
        flex-direction: column;
    }
    .form
    {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    }
    .table{
        order:1;
    }
  }
